{% include "leader/header-leader.html"%}
{% include "layouts/footer.html"%}
{% load static%}

{% block content%}
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Toolbar-->
                    <div class="toolbar d-flex flex-stack mb-3 mb-lg-5" id="kt_toolbar">
                        <!--begin::Container-->
                        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack flex-wrap">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column me-5 py-2">
                                <!--begin::Title-->
                                <h1 class="d-flex flex-column text-dark fw-bold fs-3 mb-0">Data Kendaraan</h1>
                                <!--end::Title-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 pt-1">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                        <span class="text-muted text-hover-primary">Dashboard</span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">Data Kendaraan</li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-dark">Input Kendaraan</li>
                                    <!--end::Item-->
                                </ul>
                                <!--end::Breadcrumb-->
                            </div>
                            <!--end::Page title-->
                        </div>
                    </div>




                   <!--begin::Post-->
                   <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div class="container mt-5">
                        <form action="{% url 'form-kendaraan' %}" method="POST" enctype="multipart/form-data" id="kt_ecommerce_add_product_form" class="needs-validation" novalidate >
                            {% csrf_token %}
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <h2 class="card-title">Add Data Kendaraan</h2>
                                </div>
                                <div class="card-body">
                                    <!--begin::Area-->
                                    <div class="mb-4">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold mb-2">Area<span class="text-danger">*</span></label>
                                        <!--End::Label-->
                                        <select name="witel" class="form-select form-select-solid" data-control="select2" data-dropdown-css-class="w-200px" data-placeholder="Pilih area" data-hide-search="true">
                                            <option></option>
                                            {% for value, label in witel_choices %}
                                            <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <!--End::Area-->
                                    <!--begin::NIK-->
                                    <div class="mb-4">
                                        <label for="nik" class="form-label">NIK <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="nik" name="nik" value="{{ nik }}"  required minlength="8" maxlength="8" pattern="\d{8}" inputmode="numeric">
                                        <div class="form-text">Isi NIK dengan teliti dan benar</div>
                                        <div class="invalid-feedback">
                                            Mohon masukkan NIK yang valid
                                        </div>
                                    </div>
                                    <!--End::NIK--> 
                                    <!--begin::Jenis KBM-->
                                    <div class="mb-4">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold mb-2">Jenis KBM
                                            <i class="fas fa-exclamation-circle ms-2 fs-7"
                                                data-bs-toggle="tooltip"
                                                title="Pilih jenis kendaraan yang akan diinputkan"></i></label>
                                        <!--End::Label-->
                                        <!--begin::Row-->
                                        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9"
                                        data-kt-buttons="true"
                                        data-kt-buttons-target="[data-kt-button='true']">
                                        <!--begin::Col-->
                                        <div class="col">
                                            <!--begin::Option-->
                                            {% for jenis in jenis_kbm_choices %}

                                            <label
                                                class="btn btn-outline btn-outline-dashed btn-active-light-primary  d-flex text-start p-6"
                                                data-kt-button="true">
                                                <!--begin::Radio-->

                                                <span
                                                    class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-0">
                                                    <input class="form-check-input" type="radio" id="{{ jenis.0}}" name="jenis_kbm_choices" value="{{ jenis.0 }}"/>
                                                </span>
                                                <!--end::Radio-->
                                                <!--begin::Info-->
                                                <span class="ms-2">
                                                    <span class="fs-7 fw-bold text-gray-800 d-block" for="{{ jenis.0 }}">{{ jenis.1 }}</span>
                                                </span>
                                                <!--end::Info-->
                                            </label>
                                            <!--end::Option-->
                                            {% endfor %}

                                        </div>
                                        <!--end::Col-->
                                        
                                    </div>
                                    <!--end::Row-->
                                    </div>
                                    <!--End::Jenis KBM-->
                                    <!--begin::Merk & Type KBM-->
                                    <div class="mb-4">
                                        <!--begin::Label-->
                                        <label class="fs-6 fw-semibold mb-2">Merk & Type KBM
                                            <i class="fas fa-exclamation-circle ms-2 fs-7"data-bs-toggle="tooltip"title="Sebutkan merk & type kendaraan"></i></label>
                                        <!--End::Label-->
                                        <!--begin::Row-->
                                        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9"
                                            data-kt-buttons="true"
                                            data-kt-buttons-target="[data-kt-button='true']">
                                            <!--begin::Col-->
                                            <div class="col">
                                                <div class="d-flex align-items-center"> <!-- Container Flexbox -->
                                                    {% for merk in merk_type_choices %}
                                                <!--begin::Option-->
                                                <label
                                                    class="btn btn-outline btn-outline-dashed btn-active-light-primary  d-flex text-start p-6"
                                                    data-kt-button="true">
                                                    <!--begin::Radio-->
                                                    <span
                                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-0">
                                                        <input class="form-check-input" type="radio" id="{{ merk.0 }}"
                                                           name="merk_type_option" value="{{ merk.0 }}"/>
                                                    </span>
                                                    <!--end::Radio-->
                                                    <!--begin::Info-->
                                                    <span class="ms-2">
                                                        <span class="fs-7 fw-bold text-gray-800 d-block">{{merk.1}}</span>
                                                    </span>
                                                    <!--end::Info-->
                                                </label>
                                                <!--end::Option-->
                                                {% endfor %}
                                            </div>
                                            <!--end::Col-->
                                            
                                            <!--begin::Col-->
                                            <div class="col">
                                                <!--begin::Option-->
                                                <label
                                                    class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-6"
                                                    data-kt-button="true">
                                                    <!--begin::Radio-->
                                                    <span
                                                        class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-0">
                                                        <input class="form-check-input" type="radio"
                                                            name="merk_type_option" value="3" id="lainnya-radio" />
                                                    </span>
                                                    <!--end::Radio-->
                                                    <!--begin::Info-->
                                                    <span class="ms-2">
                                                        <span class="fs-7 fw-bold text-gray-800 d-block">Yang lain</span>
                                                    </span>
                                                    <!--end::Info-->
                                                </label>
                                                <!--end::Option-->
                                                <!--begin::Textarea-->
                                                <textarea class="form-control mt-3" name="merk_type_kbm" rows="3" placeholder="Deskripsi lainnya" id="merk_type_kbm-textarea" style="display: none;"></textarea>
                                                <!--end::Textarea-->
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Row-->
                                    </div>

                                    <script>
                                        document.querySelectorAll('input[name="merk_type_kbm"]').forEach((radio) => {
                                            radio.addEventListener('change', (event) => {
                                                const textarea = document.getElementById('merk_type_kbm-textarea');
                                                if (event.target.value === '3') {
                                                    textarea.style.display = 'block';
                                                } else {
                                                    textarea.style.display = 'none';
                                                    textarea.value = ''; // Optional: clear textarea when hidden
                                                }
                                            });
                                        });
                                        </script>

                                    <!--begin::NIK Pengguna-->
                                    <div class="mb-4">
                                        <label for="nik_pengguna_kbm" class="form-label">NIK Pengguna <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="nik_pengguna_kbm" name="nik_pengguna_kbm" required minlength="8" maxlength="8" pattern="\d{8}" inputmode="numeric">
                                        <div class="form-text">Isi NIK dengan teliti dan benar</div>
                                        <div class="invalid-feedback">
                                            Mohon masukkan NIK yang valid
                                        </div>
                                    </div>
                                    <!--End::NIK Pengguna-->
                                    <!--begin::No Polisi-->
                                    <div class="mb-4">
                                        <label for="no_polisi" class="form-label">No Polisi <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="no_polisi" name="no_polisi" placeholder="B 1234 ACD" required pattern="^[A-Z]{1,2} \d{1,4} [A-Z]{1,3}$" >
                                        <div class="form-text">Nomor polisi harus unik</div>
                                    </div>
                                    <!--End::No Polisi-->
                                    <!--begin::Odometer-->
                                    <div class="mb-4">
                                        <label for="odometer" class="form-label">Odometer (KM)<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="odometer" id="odometer" placeholder="25635" required min="0">
                                        <div class="form-text">Masukkan hanya angka</div>
                                    </div>
                                    <!--End::Odometer-->
                                    <!--end::Input group-->
                                        <!--begin::Media-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="required form-label">Foto Speedometer</label>
                                            <!--end::Label-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-2">
                                                <input type="file" class="form-control" id="foto_odometer" name="foto_odometer" accept="image/*" required>
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Description-->
                                            <div class="text-muted fs-7">Foto odometer tampak dengan jelas</div>
                                            <!--end::Description-->
                                        </div>
                                        <!--end::Media-->

                                        <!--begin::Media-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="required form-label">Foto Kendaraan Tampak Depan</label>
                                            <!--end::Label-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-2">
                                                <input type="file" class="form-control" id="foto_depan" name="foto_depan" accept="image/*" required>
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Description-->
                                            <div class="text-muted fs-7">Foto kendaraan tampak depan dengan jelas</div>
                                            <!--end::Description-->
                                        </div>
                                        <!--end::Media-->

                                        <!--begin::Media-->
                                        <div class="mb-10 fv-row">
                                            <!--begin::Label-->
                                            <label class="required form-label">Foto Kendaraan Tampak Samping</label>
                                            <!--end::Label-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-2">
                                                <input type="file" class="form-control" id="foto_samping" name="foto_samping" accept="image/*" required>
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Description-->
                                            <div class="text-muted fs-7">Foto kendaraan tampak samping dengan jelas</div>
                                            <!--end::Description-->
                                        </div>
                                        <!--end::Media-->

                                        <!--begin::Tanggal Jatuh Tempo STNK 5 Tahunan-->
                                        <div class="mb-4">
                                            <label for="tgl_stnk" class="form-label">Tanggal Jatuh Tempo STNK 5 Tahunan <span class="text-danger">*</span></label>
                                            <input type="date" class="form-control" id="tgl_stnk" name="tgl_stnk" required>
                                            <div class="form-text">Pilih tanggal yang sesuai</div>
                                        </div>
                                        <!--End::Tanggal Jatuh Tempo STNK 5 Tahunan-->

                                        <!--begin::Tanggal Service Terakhir-->
                                        <div class="mb-4">
                                            <label for="tgl_service" class="form-label">Tanggal Service Terakhir <span class="text-danger">*</span></label>
                                            <input type="date" class="form-control" id="tgl_service" name="tgl_service" required>
                                            <div class="form-text">Pilih tanggal yang sesuai</div>
                                        </div>
                                        <!--End::Tanggal Service Terakhir-->

                                        <!--begin::Kondisi Kendaraan Yang Perlu Perbaikan-->
                                        <div class="mb-4">
                                            <label for="kondisi_kendaraan" class="form-label">Kondisi Kendaraan Yang Perlu Perbaikan</label>
                                            <input type="text" class="form-control" id="kondisi_kendaraan" name="kondisi_kendaraan" placeholder="Ban Gundul">
                                            <div class="form-text">Misal : Ban Gundul</div>
                                        </div>
                                        <!--End::Kondisi Kendaraan-->

                                        <!--begin::Media-->
                                        <div class="mb-10 fv-row" id="photoUploadSection" style="display: none;">
                                            <label class="required form-label">Foto Kondisi Kendaraan Yang Perlu Perbaikan</label>
                                            <div class="fv-row mb-2">
                                                <input type="file" class="form-control" id="foto_kondisi" name="foto_kondisi" accept="image/*">
                                            </div>
                                            <div class="text-muted fs-7">Foto bagian yang rusak dengan jelas</div>
                                        </div>
                                        <!--end::Media-->

                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            const kondisi_kendaraan = document.getElementById('kondisi_kendaraan');
                                            const photoUploadSection = document.getElementById('photoUploadSection');
                                            const foto_kondisi = document.getElementById('foto_kondisi');
                                            const form = document.getElementById('vehicleForm');

                                            kondisi_kendaraan.addEventListener('input', function() {
                                                if (this.value.trim() !== '') {
                                                    photoUploadSection.style.display = 'block';
                                                    foto_kondisi.required = true;
                                                } else {
                                                    photoUploadSection.style.display = 'none';
                                                    foto_kondisi.required = false;
                                                }
                                            });

                                            form.addEventListener('submit', function(e) {
                                                e.preventDefault();
                                                if (kondisi_kendaraan.value.trim() !== '' && !foto_kondisi.value) {
                                                    alert('Harap upload foto kondisi kendaraan.');
                                                    return;
                                                }
                                                // Proses pengiriman form di sini
                                                console.log('Form submitted successfully');
                                            });
                                        });
                                    </script>

                                    <!--end::Card header-->
                                    <div class="card-footer d-flex justify-content-end">
                                        <!--begin::Button-->
                                        <button type="reset" id="kt_modal_edit_item_cancel" class="btn btn-light me-3">Cancel</button>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_modal_edit_item_submit" class="btn btn-primary">
                                            <span class="indicator-label">Submit</span>
                                            <span class="indicator-progress">Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                            </div>
                        </form>
                    </div>

                    <script>

                        {% comment %} $(document).ready(function() {
                            $('.form-select').select2({
                                placeholder: "Pilih area",
                                allowClear: true
                            });
                        }); {% endcomment %}

                        document.addEventListener('DOMContentLoaded', function() {
                            const submitButton = document.getElementById('kt_modal_edit_item_submit');
                            const form = document.getElementById('kt_ecommerce_add_product_form');
                        
                            console.log('Submit Button:', submitButton); // Cek jika tombol ditemukan
                            console.log('Form:', form); // Cek jika form ditemukan
                        
                            if (submitButton && form) {
                                submitButton.addEventListener('click', e => {
                                    e.preventDefault();
                        
                                    Swal.fire({
                                        text: "Form has been successfully submitted!",
                                        icon: "success",
                                        buttonsStyling: false,
                                        confirmButtonText: "Oke",
                                        customClass: {
                                            confirmButton: "btn btn-primary"
                                        }
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            form.submit(); // Kirimkan form setelah pengguna menekan "Oke"
                                        }
                                    });
                                });
                            } else {
                                console.error('Button or Form not found!');
                            }
                        });

                        const discardButton = document.getElementById('kt_modal_edit_item_cancel');

                        discardButton.addEventListener('click', e => {
                            e.preventDefault();

                            Swal.fire({
                                title: 'Discard Changes?',
                                text: "Are you sure you want to cancel?",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonText: 'Yes, cancel it!',
                                cancelButtonText: 'No, keep it',
                                customClass: {
                                    confirmButton: 'btn btn-danger',
                                    cancelButton: 'btn btn-light'
                                }
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Jika pengguna mengkonfirmasi, lakukan aksi yang diinginkan
                                    console.log('Changes discarded.');
                                     window.location.href = 'management-naker'
                                    // Anda bisa melakukan reset atau tindakan lain di sini
                                    // document.getElementById('yourFormId').reset(); // jika ada form
                                } else {
                                    console.log('Discard action cancelled.');
                                }
                            });
                        });
</script>

</body>
{% endblock %} 

{% comment %} <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form> {% endcomment %}