{% include "finance/layouts/layout-admin.html" %} 
{% include "layouts/footer.html" %} 
{% load static %}

{% block content %}
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Toolbar-->
                    <div class="toolbar d-flex flex-stack mb-3 mb-lg-5" id="kt_toolbar">
                        <!--begin::Container-->
                        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack flex-wrap">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column me-5 py-2">
                                <!--begin::Title-->
                                <h1 class="d-flex flex-column text-dark fw-bold fs-3 mb-0">Management Data Posisi</h1>
                                <!--end::Title-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 pt-1">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                        <a href="../../demo10/dist/index.html"
                                            class="text-muted text-hover-primary">Dashboard</a>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">Management</li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-dark">Posisi</li>
                                    <!--end::Item-->
                                </ul>
                                <!--end::Breadcrumb-->
                            </div>
                            <!--end::Page title-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Toolbar-->

                    <!--begin::Post-->
                    <div class="post d-flex flex-column-fluid" id="kt_post">
                        <div class="container mt-5">
                            <form action="{% url 'add_posisi' %}" method="POST" id="kt_form_posisi">
                                {% csrf_token %}
                                <div class="card shadow-sm">
                                    <div class="card-header">
                                        <h2 class="card-title">Add Data Posisi</h2>
                                    </div>
                                    <div class="card-body">
                                        <!--begin::Nama Posisi-->
                                        <div class="mb-4">
                                            <label for="id_nama_posisi" class="required form-label">Nama Posisi</label>
                                            <div class="col-sm-10">
                                                {{ form.nama_posisi }}
                                            </div>
                                        </div>
                                        <!--end::Nama Posisi-->

                                    <div class="card-footer d-flex justify-content-end">
                                        <!--begin::Button-->
                                        <a href="{% url 'posisi_list' %}">
                                            <button type="reset" id="kt_modal_edit_item_cancel" class="btn btn-light me-3">Cancel</button>
                                        </a>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_modal_edit_item_submit" class="btn btn-primary">
                                            <span class="indicator-label">Submit</span>
                                            <span class="indicator-progress">Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                </div>
                            </form>
                        </div>

                        <script>
                            const submitButton = document.getElementById('kt_modal_edit_item_submit');
                        
                            submitButton.addEventListener('click', e =>{
                                e.preventDefault(); // prevent default form submission
                        
                                Swal.fire({
                                    title: "Confirm Submit",
                                    text: "Are you sure you want to submit the form?",
                                    icon: "warning",
                                    showCancelButton: true,
                                    confirmButtonText: "Submit",
                                    cancelButtonText: "Cancel",
                                    customClass: {
                                        confirmButton: "btn btn-primary",
                                        cancelButton: "btn btn-secondary"
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        const form = document.getElementById('kt_form_posisi');
                                        form.submit();
                        
                                        Swal.fire({
                                            text: "Form has been successfully submitted!",
                                            icon: "success",
                                            buttonsStyling: false,
                                            confirmButtonText: "Oke",
                                            customClass: {
                                                confirmButton: "btn btn-primary"
                                            }
                                        }).then(() => {
                                            //ganti halaman
                                            window.location.href = 'posisi_list'
                                        });
                                    }
                                });

                                const discardButton = document.getElementById('kt_modal_edit_item_cancel');
                                    discardButton.addEventListener('click', e => {
                                        e.preventDefault();
                                        Swal.fire({
                                            title: 'Discard Changes?',
                                            text: "Are you sure you want to discard the changes?",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonText: 'Yes, discard it!',
                                            cancelButtonText: 'No, keep it',
                                            customClass: {
                                                confirmButton: 'btn btn-danger',
                                                cancelButton: 'btn btn-light'
                                            }
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = ''; // Redirect jika dibatalkan
                                            }
                                        });
                                    });
                            });
                        </script>

{% endblock %} 