{% include "finance/layouts/layout-admin.html" %} 
{% include "layouts/footer.html" %} 
{% load static %}

{% block content %}
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                    <!--begin::Toolbar-->
                    <div class="toolbar d-flex flex-stack mb-3 mb-lg-5" id="kt_toolbar">
                        <!--begin::Container-->
                        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack flex-wrap">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column me-5 py-2">
                                <!--begin::Title-->
                                <h1 class="d-flex flex-column text-dark fw-bold fs-3 mb-0">Management Data Natura</h1>
                                <!--end::Title-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 pt-1">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                        <a href="../../demo10/dist/index.html"
                                            class="text-muted text-hover-primary">Dashboard</a>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">Management</li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-dark">Natura</li>
                                    <!--end::Item-->
                                </ul>
                                <!--end::Breadcrumb-->
                            </div>
                            <!--end::Page title-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Toolbar-->

                    <!--begin::Post-->
                    <div class="container mt-5">
                        <form action="{% url 'add_natura' %}" method="POST" id="kt_form_natura">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <h2 class="card-title">Add Data Natura</h2>
                                </div>
                                <div class="card-body">
                                    <div class="mb-4">
                                        <label for="id_nik">NIK:</label>
                                        {{ form.nik }}
                                        <div class="form-text">Isi NIK dengan teliti dan benar</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id_nama">Nama:</label>
                                        {{ form.nama }}
                                        <div class="form-text">Nama akan diisi otomatis</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id_posisi">Posisi:</label>
                                        {{ form.posisi }}
                                        <div class="form-text">Posisi akan diisi otomatis</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id_witel">Witel:</label>
                                        {{ form.witel }}
                                        <div class="form-text">Witel akan diisi otomatis</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id_km_referensi" class="required form-label">KM Referensi</label>
                                        {{ form.km_referensi }}
                                        <div class="form-text">Isi hanya menggunakan angka</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id_km_liter" class="required form-label">KM/Liter</label>
                                        {{ form.km_liter }}
                                        <div class="form-text">Isi hanya menggunakan angka</div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="id_harga_bensin" class="required form-label">Harga Bensin</label>
                                        {{ form.harga_bensin }}
                                        <div class="form-text">Isi hanya menggunakan angka</div>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end">
                                        <button type="reset" id="kt_modal_edit_item_cancel" class="btn btn-light me-3">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                        <script>

                            const submitButton = document.getElementById('kt_modal_edit_item_submit');

                            submitButton.addEventListener('click', e =>{
                                e.preventDefault();

                                Swal.fire({
                                    text: "Form has been successfully submitted!",
                                    icon: "success",
                                    buttonsStyling: false,
                                    confirmButtonText: "Oke",
                                    customClass: {
                                        confirmButton: "btn btn-primary"
                                    }
                                }).then(() => {
                                    //ganti halaman
                                    window.location.href = 'management-natura'
                                });
                            });

                            const discardButton = document.getElementById('kt_modal_edit_item_cancel');

                            discardButton.addEventListener('click', e => {
                                e.preventDefault();

                                Swal.fire({
                                    title: 'Discard Changes?',
                                    text: "Are you sure you want to cancel?",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonText: 'Yes, cancel it!',
                                    cancelButtonText: 'No, keep it',
                                    customClass: {
                                        confirmButton: 'btn btn-danger',
                                        cancelButton: 'btn btn-light'
                                    }
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        // Jika pengguna mengkonfirmasi, lakukan aksi yang diinginkan
                                        console.log('Changes discarded.');
                                         window.location.href = 'management-naker'
                                        // Anda bisa melakukan reset atau tindakan lain di sini
                                        // document.getElementById('yourFormId').reset(); // jika ada form
                                    } else {
                                        console.log('Discard action cancelled.');
                                    }
                                });
                            });


</script>


<script>
    $(document).ready(function() {
        $('#nik').on('change', function() {
            var nik = $(this).val();
            $.ajax({
                type: 'GET',
                url: '{% url 'get_naker_data' %}',
                data: {'nik': nik},
                success: function(data) {
                    $('#id_nama').val(data.nama);
                    $('#id_posisi').val(data.posisi);
                    $('#id_witel').val(data.witel);
                }
            });
        });
    });
</script>

{% endblock %}